$bg-color: #027368;
$h1-color: #F26A4B;
$title-shadow: #533d4a;
$link-color: #284035;
$p-color: #00353B;
$p-color-light: #949BA6;
$boxcolor-light: rgba(#949BA6, .5);
$boxcolor-dark: #00353B;
$triangle-color: #026873;
$table-line-color: #F24738;

