@media screen and (max-width: 1600px) {

    .title-container {
        top: 300px;
    }
    .index-container {
        margin-top: 350px;
    }
    .small-container {
        top: 130px;
    }
    nav {
        margin-bottom: 200px;
    }

}
@media screen and (max-width: 1150px) {

    /**************INDEX**************/
    h1 {
        font-size: 60px;
    }
    .title-container {
        top: 300px;
    }
    .index-container {
        margin-top: 350px;
    }
    .small-container {
        top: 150px;
    }

}
@media screen and (max-width: 968px) {

    /************ PROJEKT **********/
    .project-list {
        width: 48%;
        
    }
     /************ MY STORY **********/
     .middle-boxes {

        width: 100%;
    
        .left-middle-box {
            width: 49%;
            margin-right: 1%;
        }
        .right-middle-box {
            width: 49%;
            margin-left: 1%;

        }
    
    }
    .bottom-boxes {
        width: 100%;
    }
    .top-boxes {
        width: 100%;
    }

}

@media screen and (max-width: 881px) {
    /**************INDEX**************/

    .hide {
        display: none;
    }
    .mobile-title{
        display: block;
    } 
    .title-lastname {
        margin-left: 2rem;
    }
    .title-container {
        top: 230px;
    }
    .index-container {
        margin-top: 300px;
    }
    .small-container {
        top: 150px;
    }
    .nav-link {
        padding: 0 1rem;

    }
    /************ MY STORY **********/
    .middle-boxes {
        float: left;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        top: 960px;
        
        .left-middle-box {
            width: 60%;
            margin: 1%
        }
        .right-middle-box {
            width: 60%;
            margin: 1%;
        }
        
    }
    .bottom-boxes {
        top: 1400px;
        width: 100%;
    }
    .top-boxes {
            width: 100%;
    }
    .bottom-boxes {
        position: absolute;
        display: block;
        margin: auto;
        width: 100%;

    }
    .orange-box {

        left: 1%;
        width: 98%;
    }
    .light-box {
        left: 4%;
        padding-top: 1.5rem;
        width: 96%;
        height: 180px;
    }
    footer {
    .story-logo {
        margin-top: 1400px;
    }
}

}

@media screen and (max-width: 692px) {
    /**************INDEX**************/
    h1 {
        font-size: 60px;
    }
    .title-container {
        top: 230px;
    }
    .index-container {
        margin-top: 300px;
    }
    .small-container {
        top: 150px;
    }

    /************ PROJEKT **********/
    .project-list {
        width: 98%;
    }
    .projects-print li{
        margin-bottom: 2rem;
    }
     /*********** MY STORY ***********/
    .top-boxes {
        width: 100%;
    }
    footer {
        .story-logo {
            margin-top: 1300px;
        }
    }  

}

@media screen and (max-width: 620px) {
    /**************INDEX**************/
    h1 {
        font-size: 50px;
    }
    .title-lastname {
        margin-left: 1rem;
    }
    .small-title {
        font-size: 40px;
    }
    nav {
        margin-bottom: 120px;
    }
    .index-container {
        margin-top: 250px;
    }
    .title-container {
        top: 200px;
    }
    .small-container {
        top: 100px;
    }
    /*********** STORY START ***********/
    .my-img {
        width: 100%;
    }
    .arrow-right {
        width: 200px;
    }
    /*********** MY STORY ***********/
    .top-boxes {
        position: absolute;
        display: block;
        margin: auto;
        width: 100%;
        top: 150px;
        h3 {
            text-transform: lowercase;
            font-family: 'Righteous', cursive;
            line-height: 2;
            font-size: 1.5rem;
            font-weight: 600;
            color: $h1-color;
            text-shadow: $title-shadow 1px 1px, $title-shadow 2px 2px, $title-shadow 3px 3px;
        }
    }
    .middle-boxes {
       top: 810px;
       .left-middle-box, .right-middle-box{
        width: 99%;
        margin: 0;
        margin-bottom: 1rem;
    }
    }

    .bottom-boxes {
        top: 1240px;
    }
    .orange-box {
        font-size: 12px;
        height: 200px;
    }
    .light-box {
        height: 200px;
        font-size: 12px;
    }
    .bottom-boxes .light-box, .bottom-boxes .orange-box {
        height: 120px;
    }
    .social-media span {
        display: none;
        
    }
    .social-media {
        display: flex;
        justify-content: center;
    }
    .social-media p {
        margin: 1rem;
    }

}
@media screen and (max-width: 420px) {
    body {
        font-size: 13px;
    }
    /**************INDEX**************/
    .nav-link {
        border: none;
     }
    h1 {
        font-size: 30px;
    }
    .title-lastname {
        line-height: 0.5;
        width: 100%;
    }
    .nav-link {
        padding: 0 9px;
        border-right: 1px solid $link-color;
    }
    .last-in-line {
        border: none;
    }
    .index-container {
        margin-top: 150px;
    }
    .title-container {
        top: 100px;
    }
    .small-title {
        font-size: 30px;
    }
    nav {
        margin-bottom: 100px;
    }
    .small-container {
        top: 80px;
    }
     /************** COURSES **************/
     .courses li {
         list-style-type: none;
     }
     .courses td:nth-child(1) {
        padding-right: 0;
    }
    /*********** STORY FIRST **********/
    .arrow-right {
        width: 130px;
    }
    .triangle-topleft {
        border-top: 20% solid $triangle-color;
        border-right: 20% solid transparent;

      }
    
    .triangle-bottomright {
        border-bottom: 20% solid $boxcolor-light;
        border-left: 20% solid transparent;

    }
    .logo a:link {
        font-size: 28px;
    }
}

